@model Testimonial
@{
    ViewData["Title"] = "updateTestimonial";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<h2 class="card header" style="text-align:center; background-color:midnightblue; color:white;">Referans Güncelle</h2>
<br />
<div class="container">
    <br />
    <form method="post">
        <input type="hidden" asp-for="testimonialID" />
        <label>İsim:</label>
        <input type="text" class="form-control" asp-for="name" style="border:1px solid #000" />
        <br />
        <label>Soyisim:</label>
        <input type="text" class="form-control" asp-for="surname" style="border:1px solid #000" />
        <br />
        <label>Ünvan:</label>
        <input type="text" class="form-control" asp-for="tittle" style="border:1px solid #000" />
        <br />
        <label>Değerlendirme:</label>
        <input type="text" class="form-control" asp-for="descreption" style="border:1px solid #000" />
        <br />
        <label>Görsel:</label>
        <input type="text" class="form-control" asp-for="imageUrl" style="border:1px solid #000" />
        <br />
        <button class="btn btn-success"> Güncelle </button>
    </form>
</div>


