@model Experience
@{
    ViewData["Title"] = "addExperience";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<h2 class="card header" style="text-align:center; background-color:midnightblue; color:white;">Deneyim Girişi</h2>
<br />
<div class="container">
    <br />
    <form method="post">
        <label>Ünvan:</label>
        <input type="text" class="form-control" name="title" style="border:1px solid #000" />
        <br />
        <label>Şirket:</label>
        <input type="text" class="form-control" name="company" style="border:1px solid #000" />
        <br />
        <label>Süre:</label>
        <input type="text" class="form-control" name="time" style="border:1px solid #000" />
        <br />
        <button class="btn btn-primary"> Kaydet </button>
    </form>
</div>

