@model List<About>
@{
    ViewData["Title"] = "aboutList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<br />
<h2 class="card header" style="text-align:center; background-color:midnightblue; color:white" >Hakkımda Listesi</h2>

<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.aboutID</td>
            <td>@item.tittle</td>
            <td>@item.descreption</td>
            <td><a class="btn btn-outline-danger" href="/About/deleteAbout/@item.aboutID">Sil</a></td>
            <td><a class="btn btn-outline-success" href="/About/updateAbout/@item.aboutID">Güncelle</a></td>
            
        </tr>
    }
</table>
<br />
<a class="btn btn-outline-primary" href="/About/addAbout/">Yeni Bilgi Ekle</a>