@model List<Contact>
<div class="container-xxl pt-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
	<div class="container-xxl pt-5 px-0">
		@foreach (var item in Model)
		{
			<div class="bg-dark">
				<iframe src="@item.mapsLink"
						frameborder="0" style="width: 100%; height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
						tabindex="0"></iframe>
			</div>
		}
	</div>
</div>