@model Skill
@{
    ViewData["Title"] = "updateSkill";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<h2 class="card header" style="text-align:center; background-color:midnightblue; color:white;">Yetenek Güncelle</h2>
<br />
<div class="container">
    <br />
    <form method="post">
        <input type="hidden" asp-for="skillID" />
        <label>Başlık:</label>      
        <input type="text" class="form-control" asp-for="title" style="border:1px solid #000" />
        <br />
        <label>Puan:</label>
        <input type="number" class="form-control" asp-for="rating" style="border:1px solid #000" />
        <br />
        <button class="btn btn-primary"> Güncelle </button>
    </form>
</div>


