@model Offer
@{
    ViewData["Title"] = "addAOffer";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<h2 class="card header" style="text-align:center; background-color:midnightblue; color:white;">Kampanya Girişi</h2>
<br />
<div class="container">
    <br />
    <form method="post">
        <label>Başlık:</label>
        <input type="text" class="form-control" name="offerName" style="border:1px solid #000" />
        <br />       
        <button class="btn btn-primary"> Kaydet </button>
    </form>
</div>

