@model Client
@{
    ViewData["Title"] = "addClient";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<h2 class="card header" style="text-align:center; background-color:midnightblue; color:white;">Müşteri Girişi</h2>
<br />
<div class="container">
    <br />
    <form method="post">
        <label>Müşteri:</label>
        <input type="text" class="form-control" name="clientName" style="border:1px solid #000" />
        <br />
        <label>Hizmet:</label>
        <input type="text" class="form-control" name="clientService" style="border:1px solid #000" />
        <br />
        <button class="btn btn-primary"> Kaydet </button>
    </form>
</div>

