@model List<Client>
@{
    ViewData["Title"] = "clientList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<h2 class="card header" style="text-align:center; background-color:midnightblue; color:white">Müşteriler Listesi</h2>

<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Müşteri Adı</th>
        <th>Aldığı Hizmet</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.clientID</td>
            <td>@item.clientName</td>
            <td>@item.clientService</td>
            <td><a class="btn btn-outline-danger" href="/Client/deleteClient/@item.clientID">Sil</a></td>
            <td><a class="btn btn-outline-success" href="/Client/updateClient/@item.clientID">Güncelle</a></td>

        </tr>
    }
</table>
<br />
<a class="btn btn-outline-primary" href="/Client/addClient/">Yeni Müşteri Ekle</a>

