@model List<AboutMe>
<br />
<div class="container-fluid bg-light my-6 mt-0" id="home">
	<div class="container">
		<div class="row g-5 align-items-center">
			@foreach (var item in Model)
			{
				<div class="col-lg-6 py-6 pb-0 pt-lg-0">
					<h3 class="text-primary mb-3">Merhaba Ben,</h3>
					<h1 class="display-3 mb-3">@item.name @item.surname</h1>
					<h2 class="typed-text-output d-inline"></h2>
					<div class="typed-text d-none">@item.tittle</div>
					<div class="d-flex align-items-center pt-5">
						<a href="@Url.Action("DownloadCv", "CV")" class="btn btn-primary py-3 px-4 me-5" download="OnurEyupogluCV.pdf">CV İndir</a>
					</div>
				</div>
			}
			<div class="col-lg-6">
				<img class="img-fluid" src="img/profile.png" alt="">
			</div>
		</div>
	</div>
</div>